html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  * {
     margin: 0px;
     padding: 0px;
  }
  
  header{
      margin: 0px 0px 20px 0px;
      padding: 20px 0px 0px 0px;
  }
  
  body header nav ul li img {
      height: 60px;
  }
  
  body header nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
  }
  
  body header nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 650px;
      margin-right: 400px;
  }
  
  body header nav div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 300px;
      margin-right: 660px;
  }
  
  body header nav ul li {
      display: flex;
      padding-right: 20%;
  }
  
  .boton_01 {
      margin-right: 20px;
      font-size: 20px;
      padding: 10px 25px 10px 25px;
  }
  
  .boton_02 {
      color: white;
      background-color: black;
      font-size: 20px;
      padding: 10px 25px 10px 25px;
  }
  
  ul {
      list-style-type: none;
  }
  
  
  body header nav ul li a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      font-size: 30px;
  }
  
  
  body {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  main {
      display: flex;
      flex-direction: column;
      width: 1600px;
  }
  
  .seccion_01 {
      background-color: rgb(4,100,68);
      color: white;
      font-family:sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 10px 0px 10px 0px;
  }
  
  .seccion_01 a {
      color: white;
  }
  
  .seccion_01 p {
      line-height: 40px;
      font-size: 30px;
      font-weight: 100; /*toma valores numéricos 100 (más delgado), 200...900*/
      color:#a5c1b5;
      margin: 20px 20px 40px 20px;
      letter-spacing: 1px;
      word-spacing: 2px;
  }
  
  
  .seccion_02 { 
      background-color: rgb(216,4,52);
      color: white;
      font-family:sans-serif,Helvetica,arial;
      display: flex;
      flex-direction: row;
      font-size: 100px;
      height: 100%;
      width: 100%;
      margin: 10px 0px 10px 0px;
  }
  
  .seccion_02 img {
      width: 840px;
      height: 14cm;
  }
  
  .seccion_02 div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0px 40px 0px 100px;
      justify-content: center;
      width: 500px;
      padding: 0px,0px,0px,0px;
  }
  
  .seccion_02 div p {
          line-height: 40px;
          color: pink;
          word-spacing: 5px;
          letter-spacing: 2px;
          font-size: 20px;
          margin: 0px 0px 20px 0px;
          padding-left: 10px;
  }
  
  .seccion_02 button {
      background-color: rgb(216,4,52);
      color: pink;
      font-size: 15px;
      border-color: pink;
      padding: 10px 25px 10px 25px;
      margin-top: 0px;
      margin-bottom: 30px;
  }
  
  .seccion_03 {
      background-color:rgb(216,4,52);
      color: white;
      font-family:sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin:10px 0px 10px 0px;
      height: 100%;
  }
  
  .seccion_03 div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      margin: 2cm 2cm 2cm 2cm;
      padding: 0cm 0cm 0cm 0cm;
  }
  
  
  .seccion_03 div p{
      font-size: 25px;
      color: pink;
      margin: 0.75cm 0px 1cm 0px;
  }
  
  .seccion_03 button{
      background-color: rgb(216,4,52);
      color: pink;
      border-color: pink;
      padding: 10px 25px 10px 25px;
      font-size: 20px;
      margin: 1cm 0px 80px 0px;
  }
  
  .seccion_03 img {
      width: 50%;
      height: 15cm;
      margin:0px 0px 0px 0px;
  
  }
  
  button {
      border-radius: 40px;
      background-color: white;
  }
  
  hr {
      border-color: #e1e1e1; 
  
  }
  
  footer {
      border-color: #e1e1e1;
      border-top-style: solid;
      border-width: 2px;
      display: flex;
      flex-direction: column;
      width: 95%;
      padding: 0px 0px 0px 0px;
  }
  
  footer ul {
      display: flex;
      flex-direction: row;
      text-align: flex-start;
      align-content: flex-start;
      padding: 0px 0px 0px 0px;
  }
  
  footer ul li{
      padding:0px 7px 0px 0px;
  }
  
  footer ul li img {
      height: 40px;
  }
  
  .piepag {
      text-align: left;
      margin: 0px 0px;
  }
  
  
  h2 {
      letter-spacing: 8px;
      font-weight: 100;
      line-height: 100%;
      margin: 30px 10px 5px 10px;
      font-size: 65px;
  }
  