

.grid-container{
    display:grid;
    grid-template-columns: auto;
    padding:5px;
}
.grid-item
{
    border:1px solid rgba(0,0,0,0.8)
    padding:20px;
    font.size:30px;
    text-aalign:center;
}

#uno{
    grid-column: 1/2;
    grid-row: 1/2;
}
#dos{
    grid-column: 2/2;
    grid-row: 2/3;
}
#tres{
    grid-column: 3/4;
    grid-row: 2/3;
}
#cuatro{
    grid-column: 3/4;
    grid-row: 3/4;
}
#cinco{
    grid-column: 3/4;
    grid-row: 4/5;
}